* {
    margin: 0;
    font-size: 1.1rem;
    font-family: "Poppins", sans-serif;
}

:root {
    --primary-color: #252536;
    --secondary-color: #e2e2e2;
}

nav {
    background-color: var(--primary-color);
    padding: 0.8rem;
}
nav div{
    display: flex;
    color: white;
}

.heading ol {
    list-style-type: none;
}

main {
    padding: 0 0.8rem 0 0.8rem;
}

main div {
    width: 50vw;
    display: flex;
    align-items: center;
    background-color: var(--secondary-color);
    padding: 1.5rem;
    margin: 0.5rem;
    border-radius: 5px;
}
img {
    width: 2rem;
    aspect-ratio: 1;
    object-fit: cover;    
}
h1 {
    color: rgb(54, 54, 54);
}
article {
    color: rgb(54, 53, 53);
}

main h1 {
    width: 60%;
}

@media screen and (max-width: 780px){
    main div {
        width: 80vw;
    }
    
}

@media screen and (max-width: 577px){

    * {
        font-size: 1rem;
    }

    main div {
        width: 80vw;
    }
    
}